#navbar{
    background-color: #ffc107;
}

#link{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 62%;
    transition: 250ms;
}

#link:hover{
    text-shadow: black 0.15em 0.15em 0.2em !important;
}

.nav-item .nav-link{
    transition: 250ms;
    font-family: "Century Gothic";
    font-size: 110%;
    margin-left: 1.5em !important;
    background-color: #c7a100;
    border-radius: 1em;
}

.nav-link:hover{
    box-shadow: white 0em 0em 1em;
}

.dropdown-menu .nav-item a{
    transition: 300ms;
    font-family: "Century Gothic";
}

.dropdown-menu .nav-item a:hover{
    background-color: #ffc107;
}

#register-button, #login-button{
    font-family: "Century Gothic" !important;
    font-size: 110%;
}

#register-button{
    background-color: rgb(128,128,128);
    transition: 250ms;
    border-color: transparent;
}

#register-button:hover{
    background-color: rgb(222,222,222);
    color:gray !important;
}

#login-button{
    background-color: rgb(192,192,192);
    transition: 250ms;
    border-color: transparent;
}

#login-button:hover{
    background-color: rgb(255,255,255);
    color:gray !important;
}

.active-link a{
    background-color: rgba(255,255,255,0.15) !important;
    outline: 2px #eeeeee solid;
}

.active-link-dropdown{
    background-color: rgba(255,255,255,0.25);
    outline: 2px solid orange;
}

.paragraph{
    font-family: "Century Gothic";
    font-size: 1.1rem;
    text-align: justify;
}

.smaller{
    font-size: 0.8rem;
}

.text-bubble{
    padding: 0.2em;
    background-color: #ecb000f0;
    border-radius: 0.1em;
    transition: 200ms;
    color: white !important;
}

.text-bubble:hover{
    box-shadow: #ecb000f0 0em 0em 1em;
}

.outline-custom{
    border-radius: 0.5em;
    border: 3px solid lightgray;
    transition: 300ms;
}

.outline-custom:hover{
    border-color: #ffc107;
    box-shadow: 0 0.5rem 1rem #ffc10744 !important
}